In [46]:
'''Objective: 
To perform the importing and extraction of data from different file formats and display the summary statistics.

Theory
In data science and machine learning, real-world data comes in various formats such as CSV, Excel, JSON, and SQL databases. To effectively analyze and model this data, it's essential to know how to import and extract it using tools like Pandas, a powerful Python library for data manipulation.

1. Importing Data from Different File Formats
 Pandas provides built-in functions to read from and write to multiple file types:
    (i) CSV (Comma-Separated Values): A simple text format where data is separated by commas. Imported using pd.read_csv().
    (ii) Excel: Common spreadsheet format with .xls or .xlsx extensions. Loaded using pd.read_excel().
    (iii)JSON (JavaScript Object Notation): A structured format often used in APIs and web data. Read using pd.read_json().
    (iv) SQL Databases: Structured data stored in relational databases. Accessed through pd.read_sql() in combination with a database connection (e.g., via SQLAlchemy).
 Each format has its own structure and use cases. Knowing how to work with all of them ensures flexibility in data handling.

2. Displaying Summary Statistics
Once data is imported, it is crucial to understand its characteristics before analysis. Pandas provides:
df.describe() – Computes summary statistics (mean, median, std, etc.) for numerical columns.
df.info() – Shows data types and non-null counts.
df.isnull().sum() – Identifies missing values.
df.dtypes – Reveals the data types of each column.
df.corr() – Calculates correlation coefficients between numerical columns to detect linear relationships.

Prerequisites:
•	Basic knowledge of Python programming.
•	Python environment setup with the necessary libraries installed.

Required Libraries
Ensure the following libraries are installed.
1.	Pandas
2.	Numpy
3.	Openpyxl
4.	Xlrd
5.	Sqlalchemy
Command to install using pip:
pip install pandas numpy openpyxl xlrd sqlalchemy'''

'Objective: \nTo perform the importing and extraction of data from different file formats and display the summary statistics.\nPrerequisites:\n•\tBasic knowledge of Python programming.\n•\tPython environment setup with the necessary libraries installed.\nRequired Libraries\nEnsure the following libraries are installed.\n1.\tPandas\n2.\tNumpy\n3.\tOpenpyxl\n4.\tXlrd\n5.\tSqlalchemy\nCommand to install using pip:\npip install pandas numpy openpyxl xlrd sqlalchemy'

In [35]:
#Program
#Step I: Import required libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [41]:
''' Step 2: Loading Data from Different File Formats
Create Sample Data:'''
# Create a sample data file using pandas
data = pd.DataFrame({'ID': [1,2,3,4,5],
                     'Name': ['Apple', 'Banana','Mango', 'Orange', 'Guava'],
                     'Color': ['Red', 'Yellow', 'Brown', 'Orange', 'Green'],
                     'Price': [110, 40, 100, 80, 50]})
data

   ID    Name   Color  Price
0   1   Apple     Red    110
1   2  Banana  Yellow     40
2   3   Mango   Brown    100
3   4  Orange  Orange     80
4   5   Guava   Green     50

In [37]:
# Convert the data in different file formats:
#1.CSV fiels:
data.to_csv('sample_data.csv', index=False)
#2. Excel files:
data.to_excel('sample_data.xlsx', index=False)
#3. JSON files:
data.to_json('sample_data.json', orient='records')
#4. SQL Databases
engine = create_engine('sqlite:///sample_data.db')
_=data.to_sql('sample_table', engine, index = False, if_exists='replace')

In [44]:
#Load the data
csv_data = pd.read_csv('sample_data.csv')
excel_data = pd.read_excel('sample_data.xlsx')
json_data = pd.read_json('sample_data.json', orient='records')
sql_data = pd.read_sql('SELECT * FROM sample_table',engine)
sql_data

   ID    Name   Color  Price
0   1   Apple     Red    110
1   2  Banana  Yellow     40
2   3   Mango   Brown    100
3   4  Orange  Orange     80
4   5   Guava   Green     50

In [48]:
#Display Summary Statistics
#Create a function to display summary statistics:
def display_summary_statistics(data):
    print('Results')
    print('Head of the data:\n',data.head())
    print('\nSummary Statistics:\n',data.describe())
    print('\nData types:\n', data.dtypes)
    print('\nMisssing Values:\n',data.isnull().sum())
    numeric_data = data.select_dtypes(include = 'number')
    print ('Correlataions:\n', numeric_data.corr())

In [49]:
display_summary_statistics(data)

Results
Head of the data:
    ID    Name   Color  Price
0   1   Apple     Red    110
1   2  Banana  Yellow     40
2   3   Mango   Brown    100
3   4  Orange  Orange     80
4   5   Guava   Green     50

Summary Statistics:
              ID       Price
count  5.000000    5.000000
mean   3.000000   76.000000
std    1.581139   30.495901
min    1.000000   40.000000
25%    2.000000   50.000000
50%    3.000000   80.000000
75%    4.000000  100.000000
max    5.000000  110.000000

Data types:
 ID        int64
Name     object
Color    object
Price     int64
dtype: object

Misssing Values:
 ID       0
Name     0
Color    0
Price    0
dtype: int64
Correlataions:
              ID     Price
ID     1.000000 -0.414781
Price -0.414781  1.000000